.viewcreator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
/* .viewcreator-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* height: 10vh;
    width: 100%; */
}
.viewcreator-buttons button, viewcreator-buttons a {
    margin: 1em;
    width: 25%;
} */